@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');


.discriptions-section {
    background-color: #ffffff;
    width: 100%;
}

.elem__li {
    list-style: none;
}

.discriptions_body {
   display: grid;
   text-align: center;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: 1fr  1fr;
   padding-top: 100px;
   padding-bottom: 100px;
   grid-gap: 30px;
   padding-left: 20px;
   padding-right: 20px;
}

.discription__name {
    padding-top: 34px;
    text-transform: uppercase;
    color: #2D3033;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.discription__text {
    color: #6C7279;
    padding-top: 25px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}