@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Raleway:wght@200&display=swap');

.header {
    background-image: url(../imges/headerbg.jpg);
    background-size: cover;
    width: 100%;
}

.container {
    max-width: 1171px;
    margin: 0 auto;
}

.header-body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #fffeff;
}


/* ----------HEAD STYLE------ */

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    border-bottom: #4e526b solid 1.5px;
    border-radius: 2px;
   margin-left: 10px;
   margin-right: 10px;
}

.activebox {
    margin: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    padding-bottom: 30px;
}
.active {
    font-family: 'Open Sans', sans-serif;
    color: #64697c;
    font-size: 2.2rem;  
}

.box {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: #ffffff;
}

.nav__list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding-right: 10px;
}

.nav__li{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 750;
    padding-left: 30px;
    padding-bottom: 30px; 
}

.nav__link {
    text-decoration: none;
    color: #c3c7d2;
}

/* ------HEAD CONTENT STYLE ------ */

.head-content {
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 920px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    text-align: center;
}

.content__title {
    font-size: 65px;
    font-weight: 700;
}

.content__discription {
    padding-top: 30px;
    font-size: 22px;
    line-height: 2;
}

.content__button {
    padding-top: 60px;
    padding-bottom: 60px;
}

.button__link {
    padding: 15px 40px 15px 40px ;
    background-color: #e84546;
    color: #fffeff;
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: none;
    border-radius: 3px;
}





