@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

.team-grid {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    font-family          : 'Raleway', sans-serif;
    padding-bottom       : 80px;
    padding-top          : 80px;
}

.team-elem {
    padding: 20px;
}


.team__li {
    list-style: none;
}

.team__name {
    font-size : 22px;
    color     : black;
    text-align: left;
    margin    : 30px 0 10px 0;
}

.team__profession {
    color         : #E84545;
    font-size     : 13px;
    font-weight   : 600;
    text-align    : left;
    text-transform: uppercase;
    margin        : 0 0 29px 0;
}

.team__text {
    color      : #6C7279;
    font-size  : 14px;
    text-align : left;
    line-height: 1.5;
}

.team__social i {
    margin   : 30px 0 0 0;
    color    : #C6CACC;
    font-size: 1rem;
    padding  : 5px;
    border   : 1px solid #C6CACC;
}

.team__social i:hover {
    color              : hsl(0, 93%, 57%);
    text-shadow        : 5px 2px 10px rgba(0, 0, 0, 0.73);
    border             : 1px solid hsl(0, 93%, 57%);
    transition-duration: 0.5s;
}

.team__photo {
    width: 100%;
}

.team-elem__list {
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 809px) {

    .team__photo {
        width: 70%;
    }

    .team-elem,
    .team__text,
    .team__profession,
    .team__name {
        text-align: center;
    }

    .team__text {
        max-width     : 80%;
        text-align    : center;
        margin        : 0 auto;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 539px) {

    .team__photo {
        width: 60%;
    }

    .team-elem,
    .team__text,
    .team__profession,
    .team__name {
        text-align: center;
    }

    .team__text {
        max-width     : 80%;
        text-align    : center;
        margin        : 0 auto;
        padding-bottom: 20px;
    }
}