@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    font-family: 'Raleway', sans-serif;
    padding-bottom: 80px;
    padding-top: 80px;
}

.team-elem {
    padding: 20px;
}


.team__li {
    list-style: none;
}

.team__name {
    font-size: 22px;
    color: black;
    text-align: left;
}

.team__profession {
    color: #E84545;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.team__text {
    color: #6C7279;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
}

.team__social i{
    color: #C6CACC;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #C6CACC;
}

.team__social i:hover {
	font-size: 1.1rem;
    color:  hsl(0, 93%, 57%);
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid hsl(0, 93%, 57%);
    transition-duration: 0.3s;
}

.team__foto {
    width: 100%;
}

.team-elem__list {
    font-family: 'Raleway', sans-serif;
}