.work-section {
    width: 100%;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.work__img {
   border: #ffffff 1px solid;
   justify-self: center;
}

